body {
  width: 100%;
  align-items: center;
  gap: 1rem;
background-color: rgb(156, 93, 41);
}
body::-webkit-scrollbar {
  height: 0;
  -webkit-transition: 1s;
  transition: 1s;
  width: 1vw;
}
body::-webkit-scrollbar-thumb {
  background-color: #cbd5df;
  border-radius: 1rem;
  box-shadow: -0.5vh 0 1vh 0 rgb(93 111 114 / 8%);
  -webkit-transition: 1s;
  transition: 1s;
}

* {
  padding: 0;
  margin: 0;
}

main {
  justify-content: center;
  gap: 0.5rem;
   border-top:solid .1rem rgb(173, 157, 127);
   border-bottom:solid .1rem rgb(173, 157, 127);
width: 100%;
background-color: #323e49;
padding: .5rem 0 .5rem 0;
}
